@{
    ViewData["Title"] = "Home Page";
}

<body style="background-color:rgb(67 207 199);">
    <div class="text-center">
        <h1 class="display-4">Welcome to the movie site</h1>
        <img src="https://static.vecteezy.com/system/resources/previews/000/141/862/non_2x/vector-free-movie-icon-set.jpg" alt="Movie photo" />
    </div>
</body>
