@{
    ViewData["Title"] = "Privacy Policy";
}

<body style="background-color:rgb(67 207 199);">
    <h1>@ViewData["Title"]</h1>

    <p style="font-size:25px;">Your privacy is critically important to us. At Automattic, we have a few fundamental principles:</p>
    <ul style="font-size:20px;">
        <li>We are thoughtful about the personal information we ask you to provide and the personal information that we collect about you through the operation of our services.</li>
        <li>We store personal information for only as long as we have a reason to keep it.</li>
        <li>We aim to make it as simple as possible for you to control what information on your website is shared publicly (or kept private), indexed by search engines, and permanently deleted.</li>
        <li>We help protect you from overreaching government demands for your personal information.</li>
        <li>We aim for full transparency on how we gather, use, and share your personal information.</li>
    </ul>
    <img src="https://www.janusnet.com/sites/default/files/styles/large/public/PRIVACY.jpg?itok=39z3EuXQ" alt="Privacy Photo" />
</body>
